<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="../../vue_src/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <ul>
        <!-- 直接遍历对象获取到的是value -->
        <li v-for="item in obj">{{item}}</li>
        <!-- 获取key就加入key的内容 注意前面接收value 后面接收Key-->
        <li v-for="(item,key) in obj">{{key}}-{{item}}</li>
        <!-- 同时获取key,value,index -->
        <li v-for="(item,key,index) in obj">{{index}}-{{key}}-{{item}}</li>
      </ul>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          obj: {
            name: 'tom',
            age: 18,
            height: 180,
          },
        },
        methods: {},
      })
    </script>
  </body>
</html>
